@model projetLocation.Models.Voiture

<h1>Détails voiture</h1>
<p>Immatriculation : @Model.Immatriculation</p>
<p>Année : @Model.Annee</p>
<p>Tarif : @Model.TarifJournalier</p>
<p>Places : @Model.NombrePlaces</p>
<p>Carburant : @Model.Carburant</p>
<p>Modèle : @Model.Modele.Nom</p>
<p>Marque : @Model.Modele.Marque.Nom</p>
<a href="/Voitures">Retour</a>